<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- api settings -->
    <add key="api_url" value="" />
    <add key="api_username" value="" />
    <add key="api_password" value="" />
    <add key="customer_id" value="" />
    <add key="site_id" value="" />
    <!-- captcha settings -->
    <add key="include_audio" value="true" />
    <add key="display_style" value="flyout" />
    <add key="image_code_color" value="White" />
    <add key="width" value="3" />
    <add key="height" value="3" />
    <add key="captcha_length" value="4" />
    
    <add key="library_version" value="20100610_DOTNET" />
  </appSettings>
  
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>
